<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Metrics
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Metrics</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
  <ion-card  class = "crop-card" *ngFor="let crop of myCropData">
    <ion-card-header>
      <ion-card-title>{{crop.name}} <span class="crop-card-metric">{{crop.delta}}%</span></ion-card-title>
      <br>
      <img class = "crop-card-img" src="assets/{{crop.name}}.jpg" />
    </ion-card-header>

    <ion-card-content>
      <canvas id = "{{crop.name}}-metric-bar" class = "{{crop.name}}-metric-bar"></canvas>
    </ion-card-content>

  </ion-card>


        <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon (click)="testThis()" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  





</ion-content>
